# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Secrets & Environment Variables
.env

# React.js dependencies
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-error.log
frontend/pnpm-debug.log